@charset "UTF-8";

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.572);
    color: white;
}

h1, h2 {
    color: rgba(0, 0, 0, 0.689);
}

.basico {
    color: rgb(28, 28, 142);
}

.intermediario {
    color: rgb(183, 183, 0);
}

.avancado {
    color: rgb(169, 38, 38);
}